<div align ="center">
  <h1>toc.com</h1>
</div>

<div align ="right">
  <%= link_to "signin",  new_user_session_path %>
</div>  
  
<div align ="right">
 <%= link_to "signup", new_user_registration_path %> 
</div>

  

